.maruri-color-field {
	display: inline-block;
}

.maruri-color-field .wp-picker-container {
	display: inline-block;
}

.maruri-color-field .wp-color-result.button {
	margin: 0;
}

.maruri-color-field .wp-picker-input-wrap .wp-color-picker {
	width: 96px;
	min-width: 96px;
}
